<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>webrtc demo</title>
		<meta>
		<link>
	</head>
	<body>
		<h1>TRYUIHJK</h1>
		<video id="localstream" width="300" controls></video>
		<video id="friendstream" width="300" controls></video>
		<textarea rows="5" cols="100" id="txtMySignal"></textarea>
		<br><br>
		<textarea rows="5" cols="100" id="txtFSignal"></textarea>
		<br><br>
		<button id="btnConnect">Connect</button>
	</body>
	<script src="bundle.js"></script>
</html/>