<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>webrtc demo</title>
		<meta>
		<link>
	</head>
	<body>
		<h1 id="peer-id">MY Peer Id: </h1>
		<video id="localstream" width="300" controls></video>
		<br><br>
		<video id="friendstream" width="300" controls></video>
		<br><br>
		<textarea rows="5" cols="100" id="txtFSignal"></textarea>
		<br><br>
		<!-- <button id="btnCall">Call</button> -->
		<br><br>
		<ul id="ulPeerId">
			
		</ul>
	</body>
	<script src="bundle.js"></script>
</html/>