<html lang="en">
	<head>
		<title>webrtc demo</title>
		<meta>
		<link>
	</head>
	<body>
		<h1>TRYUIHJK</h1>
		<video id="localstream" width="300" controls></video>
	</body>
	<script>
		navigator.mediaDevices.getUserMedia({audio: false, video: true})
		.then(stream => {
			const video = document.getElementById('localstream');
			video.srcObject = stream;
			video.onloadedmetadata = function () {
				video.play();
			}
		})
		.catch(err => console.log(err));
	</script>
	<script src="bundle.js"></script>
</html/>